/* sheard styles */
*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
.sec-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    color: #474747;
    text-align: center;
    font-size: 18px;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    
}
nav ul{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-top: 30px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    margin-right: 51px;
    color: #474747;

}
.nav-text{
    color: #FD6E0A;
}
.nav-title{
    font-size: 45px;
}
/* header styles */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 0px 0px 0px 40px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-size: 70px;
    margin-top: 0px;
    justify-content: space-between;
}
.banner .pic{
    width: 500px;
}
.hi{
    color: #474747;
    font-size: 45px;
    margin-bottom: 0px;
}
.bnr-title{
    font-size: 85px;
    font-family: 700;
    margin-top: 25px;
}
.bnr-des{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.bnr-cont{
    max-width: 500px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about */
.about{
    padding: 130px;
    
    background: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}
.sec-title{
    margin-bottom: 30px;
}
.section-des{
    margin-bottom: 30px;
}
.about-info-cont{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 18px;
}
.info-des{
    font-size: 20px;
    font-weight: 700;

}